.detail .module-temp .forecast-value {
  width: calc(100% / 3);
}

@media (max-width: 767px) {
  .detail .module-temp .value-list {
    margin: 1rem auto;
  }

  .detail .module.module-temp .forecast-value {
    padding: 0 1rem;
    width: calc(100% / 6);
  }
}

@media (max-width: 400px) {
  .detail .module.module-temp .forecast-value {
    margin: 1rem auto;
    width: calc(100% / 3);
  }
}
