.module.address-form {
  display: flex;
  padding: 2rem;
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 767px) {
  .module.address-form {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .module.address-form {
    flex-direction: column;
  }
}

.address-form input {
  border-radius: .4rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.address-form input[type=number] {
  background: #eee;
  margin-right: 1rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .address-form input[type=number] {
    margin: 0;
    margin-bottom: 2rem;
  }
}

.address-form input[type=submit] {
  background: #70b5cb;
  color: #fff;
  width: auto;
}

@media (max-width: 600px) {
  .address-form input[type=submit] {
    width: 100%;
  }
}
